:root {


}






@font-face {
  font-family: 'Alexandria';
  src: url('../../public/Alexandria-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Adobe';
  src: url('../../public/AdobeHandwriting-Ernie.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;

}
html,
body {
  max-width: 100%;
  display: flex;
  scroll-behavior: smooth;
  font-family: 'alexandria';
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;

}
 
body::-webkit-scrollbar-thumb {
  border-radius: 0px 0px 12px 12px;
  background-color: #eb2273;
}
body{
  width: 100%;
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
  scroll-behavior: smooth;
  background-image: url('../../public/mainBg.webp');
}

#__next{
  width: 100%;
}

a {
  color: unset;
text-decoration: none;

}
.no-scroll {
  overflow: hidden!important;
}
.semMargem{
  margin-left: -300px;
  transition: all 1000ms;
  opacity: 0;
}
.comMargem{
  margin-left: 0px;
  transition: all 1000ms;
  opacity: 1;
}

.semMargemr{
  margin-right: -300px;
  transition: all 1000ms;
  opacity: 0;
}
.comMargemr{
  margin-right: 0px;
  transition: all 1000ms;
  opacity: 1;
}


.cardHere{
  animation-delay:0.1s;
  animation-name: fadeInDown;
  animation-duration: 1s;

}
.noCardHere{
  opacity: 0!important;

}

.cardHere2{
  animation-delay:0.2s;
  animation-name: fadeInDown;
  animation-duration: 1s;

}
.noCardHere2{
  opacity: 0;
}
.cardHere3{
  animation-delay:0.3s;
  animation-name: fadeInDown;
  animation-duration: 1s;
}
.noCardHere3{
  opacity: 0;

}