.mainNav{
    background-image: url('https://baldoo.com.br/API/imageAPI/jessica/navbarbg.webp');
    background-size: auto;
    background-position-x:center;
    background-position-y:top;
    background-repeat: repeat-x;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 0;
    justify-content: center;
    flex-direction: column;
}
.containerNavbar{
    max-width:1350px;
    height: 550px;
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.academyLogo{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    border-radius: 0px 0px 50% 50%;
    background-color:#eb2273 ;
}
.academyLogo:hover{
    background-color: #302b2c;
    transition: background-color 1s;
}



.containerNavbar ul{
    display: flex;
    width: 100%;
    height:70%;
    justify-content: center;
    align-items: center;
 
}


.MainMenu{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
}
.MainMenu{
    margin-top: 5%;
}
.MainMenu li{
    list-style: none;
    margin-left:30px;
}
.MainMenu li:hover svg{
    opacity: 0.8;
}

.TitleNavbar{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align:center ;
}
.imgGoconvert{
    position: absolute;
    right: -20%;
    top: 20%;
    animation: setaBounce 3s infinite;

}
@keyframes setaBounce {
    0%{
        top: 20%;
    }
    50%{
        top: 10%;
    }
    100%{
        top: 20%;
    }
}
.MainTitle{
    font-family: 'Alexandria';
    color: #302b2c;
    font-size:90px;
    display: flex;
    flex-direction: column;
    line-height: 100%;
}
.MainTitle span{
    color: white;
    font-size: 60px;
    line-height: 100%;
}
.MainTitle strong{
    font-weight: lighter;
    font-size: 40px;
 
    line-height: 100%;
}

.imgGoconvert{
    position: absolute;
}



.mymodalmenu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../../public/mainBg.webp');
    background-color: white;
}

.mymodalmenuCotainer{

    width: 90%;
    flex-direction: column;
    height: 100%;
    z-index: 99;
    display: flex;
    /* margin-top: 5%; */
    height: 60vh;
    overflow-y: auto;
    max-width: 1350px;
    overflow-x: hidden;
    align-items: center;
    justify-content: flex-start;
    
}

.mymodalmenuCotainer::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  
  }
.mymodalmenuCotainer::-webkit-scrollbar-thumb {
    border-radius: 0px 0px 0px 0px;
    background-color: #eb2273;
  }

.closeModal{
    height: 60px;
    width: 60px;
    position: absolute;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 5%;
    z-index: 999;
    margin-right: 5%;
    justify-content: center;
    top: 0;
    right: 0;
    
}
.closeModal:hover .closehambBordercenter{
    transform: rotate(-180deg);
    
}
.closeModal:hover .closehambBorder{
    transform: rotate(180deg);
    transition: all 500ms;
}
.closehambBordercenter{
    width: 70%; 
    transition: all 500ms;
}

.closehambBorder{
    transition: all 500ms;
    position: absolute;
}

.mymodalmenuCotainer h3{
    color: #302b2c;
    font-size:30px;
    font-weight: 350;
    margin-bottom: 10%;

}

.mymodalmenuCotainer h3 span{
    font-weight: bold;
    font-size:40px;
}

.mymodalmenuCotainer h3:hover{
    color: #eb2273;
}


@media screen and (min-width:280px) and (max-width:550px){
    .mymodalmenuCotainer{
        margin-top: 60px;
    }
    .mymodalmenuCotainer h3{
        color: #302b2c;
        font-size:6vw;
        font-weight: 350;

    }

    .mymodalmenuCotainer h3 span{
        font-weight: bold;
        font-size:8vw;
    } 


    .closeModal{
        margin-top: 30px!important;
        z-index: 999;
        margin-right: 30px!important;

    }
}





.closeModal{
    height: 50px;
    width: 50px;
    position: absolute;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-top: 60px;
    z-index: 999;
    margin-right: 60px;
    justify-content: center;
    top: 0;
    right: 0;
    
}

.closehambBordercenter{
    width: 70%; 
}

.closehambBorder{
    width: 100%; 
    position: absolute;
}





.MenuHamb{
    position: relative;
    height: 60px;
    width: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.MenuHamb:hover .hambBorder{
    transform: rotate(-180deg);
    transition: all 500ms ease-in-out;
}
.MenuHamb:hover .hamMenu{
    transform: rotate(180deg);
    transition: all 500ms ease-in-out;
}
.hambBorder{
    transition: all 500ms ease-in-out;
    position: absolute;
}
.hamMenu{
    transition: all 500ms ease-in-out;
}



.scrollBarMain{
    width: 100%;
    height: 100px;
    background-color: #eb2273;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    position: fixed;
    left: 0;
    margin-top:-100px;
    top: 0;
    z-index: 999;
    transition: all 500ms;
    align-items: center;
    justify-content: center;
}

.scrollBarMainCotainer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mymodalmenuCotainer svg{
    margin-left: 30px;
}
.instagramfb{
    margin-left: 0px!important;
}
@media screen and (min-width:1024px) and (max-width:1350px) {
    .mainNav{
        background-size: auto;
    }

    .containerNavbar ul{
        display: flex;
        width: 100%;
        height:80%;
        justify-content: center;
        align-items: center;
     
    }
    .MainTitle{
        font-family: 'Alexandria';
        color: #302b2c;
        font-size:80px;
        display: flex;
        flex-direction: column;
        line-height: 100%;
    }
    .MainTitle span{
        color: white;
        font-size: 50px;
        line-height: 100%;
    }
    .MainTitle strong{
        font-weight: lighter;
        font-size: 30px;
     
        line-height: 100%;
    }
}

@media screen and (min-width:850px) and (max-width:1024px) {
    .mainNav{
        background-image: url('https://baldoo.com.br/API/imageAPI/jessica/navbarbg.webp');
        background-size: auto;
        background-position-x:center;
        background-position-y:top;
        background-repeat: repeat-x;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }  
    .mainNav{
        background-image: url('https://baldoo.com.br/API/imageAPI/jessica/navbarbg.webp');
        background-size:cover;
        background-position-x:center;
        background-position-y:top;
        background-repeat: repeat-x;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }    
    .academyLogo{
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        justify-content: center;
        border-radius: 0px 0px 50% 50%;
        background-color:#eb2273 ;
    }
    .academyLogo img{
        width: 45%;
    }

    .MainTitle{
        font-family: 'Alexandria';
        color: #302b2c;
        font-size:10vw;
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        line-height: 100%;
    }
    .MainTitle span{
        color: white;
        font-size: 6vw;
        line-height: 100%;
    }
    .MainTitle strong{
        font-weight: lighter;
        font-size: 3vw;
     
        line-height: 100%;
    }
    .containerNavbar{
        max-width:1350px;
        height: 550px;
        width: 90%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .containerNavbar ul{
        display: flex;
        width: 100%;
        height:70%;
        justify-content: center;
        align-items: center;
    
    }
    .imgGoconvert{
        width: 10vw;
        position: absolute;
        right: -15%;
        top: 20%;
    } 
}

@media screen and (min-width:550px) and (max-width:850px) {
    .MainMenu{
        
    }
    .MainMenu li{
        display: none;
    }
    .MainMenu li:last-child{
        display: flex;
    }
    .academyLogo{
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        justify-content: center;
        border-radius: 0px 0px 50% 50%;
        background-color:#eb2273 ;
    }
    .academyLogo img{
        width: 50%;
    }
    .containerNavbar{
        max-width:1350px;
        height: 950px;
        width: 90%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        }
        .mainNav{
            height: 600px;
        }
        .MainTitle{
            font-family: 'Alexandria';
            color: #302b2c;
            font-size:12vw;
            display: flex;
            margin-top: 50px;
            flex-direction: column;
            line-height: 100%;
        }
        .MainTitle span{
            color: white;
            font-size: 12vw;
            line-height: 100%;
        }
        .MainTitle strong{
            font-weight: lighter;
            font-size: 6vw;
         
            line-height: 100%;
        }

}

@media screen and (min-width:0px) and (max-width:550px) {
    .mainNav{
        background-image: url('https://baldoo.com.br/API/imageAPI/jessica/navbarbg.webp');
        background-size:cover;
        background-position-x:center;
        background-position-y:top;
        background-repeat: repeat-x;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }    
    .academyLogo{
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        justify-content: center;
        border-radius: 0px 0px 50% 50%;
        background-color:#eb2273 ;
    }
    .academyLogo img{
        width: 45%;
    }
    .MainMenu li{
        display: none;
    }
    .MainMenu li:last-child{
        display: flex;
    }

    .MainTitle{
        font-family: 'Alexandria';
        color: #302b2c;
        font-size:12vw;
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        line-height: 100%;
    }
    .MainTitle span{
        color: white;
        font-size: 12vw;
        line-height: 100%;
    }
    .MainTitle strong{
        font-weight: lighter;
        font-size: 6vw;
     
        line-height: 100%;
    }
    .containerNavbar{
    max-width:1350px;
    height: 450px;
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    }

    .containerNavbar ul{
        display: flex;
        width: 100%;
        height:90%;
        justify-content: center;
        align-items: center;
    
    }
    .imgGoconvert{
        width: 15vw;
        position: absolute;
        right: -15%;
        top: 20%;
    }
}