.mainSession{
    width: 100%;
    z-index: 50;
    height: 900px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: auto;
    background-position: center;
    margin-top: -220px;
    background-repeat: no-repeat;
    z-index: 3;
    background-image: url('https://baldoo.com.br/API/imageAPI/jessica/divbgTwosession.webp');
}
.mainSessionContainer{
    max-width: 1350px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ProfessoraTitle h2{
color: #302b2c;

}
.ProfessoraTitle h3{
    font-family: 'Adobe';
    font-size: 7.5vw;
    color: #302b2c;
}
.ProfessoraTitle h4{
    font-size: 1.8vw;
    color: #302b2c;
}
.ProfessoraText{
    width: 60%;
}
.mainTitle p{
    text-align: center;
    font-size: 23px;
    width: 90%;
    font-weight: 200;
    color: white;
}

.mainSessionResponsive{
    display: none;
}
@media screen and (min-width:1350px){
    .ProfessoraTitle h3{
        font-family: 'Adobe';
        font-size: 120px;
        font-weight: 500;
        color: #302b2c;
    }   
    .ProfessoraTitle h4{
        font-size: 25PX;
    }
    .mainTitle p{
        margin-top: 30px;
        text-align: center;
        font-size: 25px;
        font-weight: 250;
        margin: -65px auto 0px auto;
        width: 75%;
        color: white;
    }
    
}
@media screen and (min-width:850px) and (max-width:1024px){
    .mainSession{
        display: none;
    }
    .mainSessionResponsive{
        
        z-index: 4;
        position: relative;
        margin-top: -200px;
        display: flex;
        background-repeat:no-repeat;
        width: 100%;
        background-size: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 1500px;
        background-image: url('https://baldoo.com.br/API/imageAPI/jessica/professoraResponsivebg.webp');
    }
    .mainSessionResponsiveContainer{
        width: 90%;
        margin-top: 200px;
    }
    .ProfessoraTitleResponsive h4{
        font-size: 50px;
        color: #302b2c;
    }
    .ProfessoraTitleResponsive h3{
        font-family: 'Adobe';
        font-size: 120px;
        color: #302b2c;
    }
    .responsiveText{
        margin-top: 30px;
        color: white;
        text-align: center;
        font-weight: 200;
        font-size: 30px;
    }
    .ProfessoraTextResponsive{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .ProfessoraTitleResponsive{
        width: 100%;
    }
    .ProfessoraTextResponsive img{
        margin-top: 50px;
    }
}
@media screen and (min-width:550px) and (max-width:850px){
    .mainSession{
        display: none;
    }
    .mainSessionResponsive{
        
        z-index: 4;
        position: relative;
        margin-top: -200px;
        display: flex;
        background-repeat:no-repeat;
        width: 100%;
        background-size: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 1500px;
        background-image: url('https://baldoo.com.br/API/imageAPI/jessica/professoraResponsivebg.webp');
    }
    .mainSessionResponsiveContainer{
        width: 90%;
        margin-top: 200px;
    }
    .ProfessoraTitleResponsive h4{
        font-size: 30px;
        color: #302b2c;
    }
    .ProfessoraTitleResponsive h3{
        font-family: 'Adobe';
        font-size: 80px;
        color: #302b2c;
    }
    .responsiveText{
        margin-top: 30px;
        color: white;
        text-align: center;
        font-weight: 250;
        font-size: 30px;
    }
    .ProfessoraTextResponsive{
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .ProfessoraTitleResponsive{
        width: 100%;
    
        text-align: center;}
    .ProfessoraTextResponsive img{
        margin-top: 50px;
    }
}
@media screen and (min-width:280px) and (max-width:550px){
    .mainSession{
        display: none;
    }
    .mainSessionResponsive{
        
        z-index: 4;
        position: relative;
        margin-top: -20vw;
        display: flex;
        background-repeat:no-repeat;
        width: 100%;
        background-size: 300%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 410vw;
        background-image: url('https://baldoo.com.br/API/imageAPI/jessica/professoraResponsivebg.webp');
    }
    .mainSessionResponsiveContainer{
        width: 90%;
        margin-top: 100px;
    }
    .ProfessoraTitleResponsive h4{
        font-size: 7vw;
        color: #302b2c;
    }
    .ProfessoraTitleResponsive h3{
        font-family: 'Adobe';
        font-size: 15vw;
        
        color: #302b2c;
    }
    .responsiveText{
        margin-top: 30px;
        color: white;
        font-weight: 250;
        text-align: center;
        font-size: 30px;
    }
    .ProfessoraTextResponsive{
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .ProfessoraTitleResponsive{
        width: 100%;
    
        text-align: center;}
    .ProfessoraTextResponsive img{
        margin-top: 50px;
        width: 80vw;
        max-width: 300px;
    }
    .responsiveText p{
        font-size: 8vw;
    }
}
@media screen and (min-width:400px) and (max-width:550px){
    .responsiveText p{
        font-size: 5vw;
    }
    .mainSessionResponsive{
        
        z-index: 4;
        position: relative;
        margin-top: -20vw;
        display: flex;
        background-repeat:no-repeat;
        width: 100%;
        background-size: 200%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 305vw;
        background-image: url('https://baldoo.com.br/API/imageAPI/jessica/professoraResponsivebg.webp');
    }
    .mainSessionResponsiveContainer{
        width: 90%;
        margin-top: 25vw;
    }
}

